* {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  height: 54px;
  background: #fd6e0a;
  border-radius: 5px;
  border: 0;
  padding: 14px 35px;
}

/* header & navigation styles */
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
  /* background-size: 740px; */
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px 50px 150px;
}

nav li {
  list-style: none;
  margin-left: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-title {
  font-weight: 600;
  font-size: 35px;
}
/* banner styles */
.banner {
  margin: 0 20px 0 150px;
  display: flex;
  align-items: center;
}
.banner-sub-title {
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 20px;
}
.banner-title {
  font-weight: 500;
  font-size: 85px;
}
.banner-discription {
  font-size: 18px;
  color: #757575;
  margin-right: 140px;
  margin-bottom: 30px;
}
/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section styles */
.about {
  margin: 130px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.section-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}